h1 {
    @apply text-5xl font-bold;
}

h2 {
    @apply text-4xl font-bold;
}

h3 {
    @apply text-3xl font-bold;
}

h4 {
    @apply text-2xl font-bold;
}

h5 {
    @apply text-xl font-bold;
}

h6 {
    @apply text-lg font-bold;
}

a {
    @apply text-blue-600 underline;
}

p {
    margin-bottom: 1rem;
}

ol, ul {
    @apply pl-12 my-4;
    & ol, ul {
        @apply my-0;
    }

    > li {
        @apply pl-1;
    }
}

ol {
    list-style-type: decimal;
}

ul {
    list-style-type: disc;

    &.unlist {
        list-style-type: none;
        @apply pl-0 my-0;
        > li {
            @apply pl-1;
        }
    }
}
